@import '@wikimedia/codex/dist/codex.style.css';
@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui-root.css';
@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui-mode-dark.css' only
  screen and (prefers-color-scheme: dark);

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-base);
  background-color: var(--background-color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  width: calc(100% - 4rem);
  text-align: center;
  text-wrap: balance;
}

* {
  font-family: 'Stack Sans Text', sans-serif;
}
